.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.navbar {
  display: none;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.navbar-show-small {
  display: none;
}

.navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.header-logo {
  flex: 1;
}

.header-xdd-logo {
  height: 50px;
}

.header-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.header-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 720px) {
  .navbar-hide-small {
    display: none;
  }

  .navbar-show-small {
    display: block;
  }
}